    <header>
        <img src="/resurse/imagini/logo.png" alt="Logo Lena's Ballet Boutique">
        <h1><i class="fa-solid fa-wand-magic-sparkles fa-bounce"
                style="--fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-height: -0.3em;"></i>
            Lena's Ballet Boutique</h1>

        <nav>
            <input type="checkbox" id="toggle-meniu" hidden>
            <label for="toggle-meniu" class="hamburger">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
                <span class="bar bar-3"></span>
            </label>

            <ul class="meniu-principal">
                <li>
                    <a href="/">
                        <i class="fa-solid fa-house"></i>
                        <span class="text-meniu">Acasă</span>
                    </a>
                    <ul class="submeniu">
                        <li><a href="#welcome">Bine ați venit!</a></li>
                        <li><a href="#evenimente">Evenimente</a></li>
                        <li><a href="#produse">Produse</a></li>
                        <li><a href="#oferte">Oferte</a></li>
                        <li><a href="#recomandari">Recomandările Lenei</a></li>
                        <li><a href="#program">Program</a></li>
                        <li><a href="#intrebari">Întrebări frecvente</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-images"></i>
                        <span class="text-meniu">Galerii</span>
                    </a>
                    <ul class="submeniu">
                        <li><a href="/galerie-statica">Galerie statică</a></li>
                        <li><a href="/galerie-dinamica">Galerie dinamică</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/produse">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <span class="text-meniu">Produse</span>
                    </a>
                </li>
                <li>
                    <a href="/despre">
                        <i class="fa-solid fa-user"></i>
                        <span class="text-meniu">Despre Lena</span>
                    </a>
                </li>
                <li>
                    <a href="/ghiduri">
                        <i class="fa-solid fa-book"></i>
                        <span class="text-meniu">Ghiduri</span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        <i class="fa-solid fa-envelope"></i>
                        <span class="text-meniu">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
